Importing the required libraries

In [1]:
# load the libraries
import pandas as pd
import numpy as np

Loading the excel file into pandas DataFrame using read_excel() method

In [2]:
# load the dataset
df = pd.read_excel('energy-efficiency-dataset.xlsx')

# Create X and y1 and y2 from the dataset
X = df.iloc[:, 0:8]
y1 = df.iloc[:, 8]
y2 = df.iloc[:, 9]

# printing the columns of the of X (feature matrix)
print(X.columns)

Index(['X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X7', 'X8'], dtype='object')

As the dataset doesnot contain missing values, there is no need for handling the missing values

***Min_Max Scaler ( Scaling to (0, 1) )***:
Transforms the features by scaling each feature to a given range.

The transformation is given by:

- X_std = (X - X.min(axis=0)) / (X.max(axis=0) - X.min(axis=0))
- X_scaled = X_std * (max - min) + min

In [3]:
# Before min max normalization 
X.head(10)

     X1     X2     X3      X4   X5  X6   X7  X8
0  0.98  514.5  294.0  110.25  7.0   2  0.0   0
1  0.98  514.5  294.0  110.25  7.0   3  0.0   0
2  0.98  514.5  294.0  110.25  7.0   4  0.0   0
3  0.98  514.5  294.0  110.25  7.0   5  0.0   0
4  0.90  563.5  318.5  122.50  7.0   2  0.0   0
5  0.90  563.5  318.5  122.50  7.0   3  0.0   0
6  0.90  563.5  318.5  122.50  7.0   4  0.0   0
7  0.90  563.5  318.5  122.50  7.0   5  0.0   0
8  0.86  588.0  294.0  147.00  7.0   2  0.0   0
9  0.86  588.0  294.0  147.00  7.0   3  0.0   0

In [4]:
# After MinMax Normalization
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X_scaled = scaler.fit_transform(X)

X_scaled = pd.DataFrame(data = X_scaled)
print(X_scaled.head(10))

          0         1         2         3    4         5    6    7
0  1.000000  0.000000  0.285714  0.000000  1.0  0.000000  0.0  0.0
1  1.000000  0.000000  0.285714  0.000000  1.0  0.333333  0.0  0.0
2  1.000000  0.000000  0.285714  0.000000  1.0  0.666667  0.0  0.0
3  1.000000  0.000000  0.285714  0.000000  1.0  1.000000  0.0  0.0
4  0.777778  0.166667  0.428571  0.111111  1.0  0.000000  0.0  0.0
5  0.777778  0.166667  0.428571  0.111111  1.0  0.333333  0.0  0.0
6  0.777778  0.166667  0.428571  0.111111  1.0  0.666667  0.0  0.0
7  0.777778  0.166667  0.428571  0.111111  1.0  1.000000  0.0  0.0
8  0.666667  0.250000  0.285714  0.333333  1.0  0.000000  0.0  0.0
9  0.666667  0.250000  0.285714  0.333333  1.0  0.333333  0.0  0.0

***Standard Scaler***:
- Standardize features by removing the mean and scaling to unit variance

In [5]:
# Importing the StandardScaler
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

X_scaled = pd.DataFrame(data = X_scaled)
X_scaled.head(10)

          0         1         2         3    4         5         6         7
0  2.041777 -1.785875 -0.561951 -1.470077  1.0 -1.341641 -1.760447 -1.814575
1  2.041777 -1.785875 -0.561951 -1.470077  1.0 -0.447214 -1.760447 -1.814575
2  2.041777 -1.785875 -0.561951 -1.470077  1.0  0.447214 -1.760447 -1.814575
3  2.041777 -1.785875 -0.561951 -1.470077  1.0  1.341641 -1.760447 -1.814575
4  1.284979 -1.229239  0.000000 -1.198678  1.0 -1.341641 -1.760447 -1.814575
5  1.284979 -1.229239  0.000000 -1.198678  1.0 -0.447214 -1.760447 -1.814575
6  1.284979 -1.229239  0.000000 -1.198678  1.0  0.447214 -1.760447 -1.814575
7  1.284979 -1.229239  0.000000 -1.198678  1.0  1.341641 -1.760447 -1.814575
8  0.906580 -0.950920 -0.561951 -0.655880  1.0 -1.341641 -1.760447 -1.814575
9  0.906580 -0.950920 -0.561951 -0.655880  1.0 -0.447214 -1.760447 -1.814575